h1 {
    color: rgb(14, 5, 5);
}


.header{
    background-color: aqua;
    display: flex ;
    justify-content: space-between;
}
.grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.footer{
    display:flex;
    justify-content: flex-end;
}
body{
    background-color: rgb(142, 76, 248);
}

p,h2{
    text-align: center;
}